@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
  width: 60%;
  margin: auto;
  /* background-color: #4c8527; */
  font-family: 'Hubballi', cursive;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

.App {
  background-color: white;
  padding: 1px 20px 20px 20px;
  font-size: 18px;
}

.inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px;
}

.inputs label {
  font-size: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

table {
  font-size: 18px;
}

td {
  padding: 10px;
}

th {
  padding: 10px;
  text-align: left;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 25%;
}

thead th:nth-child(5),
tr td:nth-child(5) {
  text-align: center;
}

thead th:nth-child(6),
tr td:nth-child(6) {
  text-align: center;
}

thead th:nth-child(7),
tr td:nth-child(7) {
  text-align: center;
}

.great {
  color: #438603;
}

.good {
  color: #C25700;
}

.poor {
  color: #A40000;
}
